.card-img img {
    width: 100% !important;
    max-width: 100% !important;
    height: 120px;
}

.card-img {
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .255)!important;
}

.card-img:hover {
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, .255)!important;
}

.card-detalles .card-body img {
    width: 200px;
    vertical-align: top;
}