.wizard>.steps>ul>li {
    font-size: 12px;
    width: 206px;
}

.wizard a,
.tabcontrol a {
    outline: 0;
    margin-top: 28px;
}

.wizard>.content {
    min-height: 39rem;
}

.dropify-wrapper {
    height: 130px;
}

.page .section-body {
    margin-top: 0px;
}

.centrado {
    align-self: center;
}

.dropify-render img {
    width: auto;
}

.wizard>.content>.body {
    float: left;
    position: absolute;
    width: 100%;
    height: auto;
    padding: 2.5%;
}

.wizard a,
.tabcontrol a {
    outline: 0;
    margin-top: 0px;
}

.wizard>.actions>ul {
    display: inline-block;
    text-align: right;
    margin: 20px;
}

ul[role="tablist"] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px
}

.wizard>.steps .current a,
.wizard>.steps .current a:hover,
.wizard>.steps .current a:active {
    background: #00ba88;
    color: #fff;
    cursor: default;
}

.wizard>.actions a,
.wizard>.actions a:hover,
.wizard>.actions a:active {
    background: #00ba88;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard>.content {
    background: #fff;
    display: block;
    margin: 0.5em;
    min-height: 33em;
    overflow: hidden;
    position: relative;
    width: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard>.steps {
    right: 3px;
}

.wizard>.content>.body {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2.5%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.wizard>.content>.body::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    display: block;
}


/* * Ponemos un color de fondo y redondeamos las esquinas del thumb */

.wizard>.content>.body::-webkit-scrollbar-thumb {
    background: #00ba88;
    border-radius: 4px;
}


/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

.wizard>.content>.body::-webkit-scrollbar-thumb:hover {
    background: #00ba88;
    box-shadow: 0 0 2px 1px rgba(0, 107, 136, 0.2);
}


/* Cambiamos el fondo cuando esté en active */

.wizard>.content>.body::-webkit-scrollbar-thumb:active {
    background-color: #00506b;
}


/* * Ponemos un color de fondo y redondeamos las esquinas del track */

.wizard>.content>.bodyr::-webkit-scrollbar-track {
    background: #00ba88;
    border-radius: 4px;
}


/* Cambiamos el fondo cuando esté en active o hover */

.wizard>.content>.body::-webkit-scrollbar-track:hover,
.wizard>.content>.body::-webkit-scrollbar-track:active {
    background: #75d8bd;
}

.wizard>.steps .done a,
.wizard>.steps .done a:hover,
.wizard>.steps .done a:active {
    background: #00ba88;
    color: #fff;
}

.assigment {
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, .30) !important;
    /* width: 150px; */
}

.assigment .imagecheck-image:last-child {
    width: 150px;
    height: 150px!important;
}

.imagecheck-image:last-child {
    width: auto;
    height: 190px;
}

.max-card {}

.imagecheck-figure {
    min-width: 270px;
    min-height: 190px;
    max-width: 270px;
    max-height: 190px;
}

.assigment .imagecheck-figure {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.imagecheck-figure:before {
    color: #00505b;
    font-size: 20px;
}

.datepicker-dropdown {
    width: 31.6%;
}

.datepicker table {
    width: 100%;
}

.card-date {
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, .30)!important;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
    background: #00ba88;
    color: #fff;
}

.datepicker .datepicker-switch,
.datepicker .next,
.datepicker .prev,
.datepicker tfoot tr th {
    cursor: pointer;
    transition: ease .5s all;
    -webkit-transition: ease .5s all;
    -moz-transition: ease .5s all;
    -ms-transition: ease .5s all;
    -o-transition: ease .5s all;
}

.datepicker table tr td span.focused,
.datepicker table tr td span:hover {
    background: #00ba88;
    color: #fff;
}

.datepicker table tr td span {
    transition: ease .5s all;
    -webkit-transition: ease .5s all;
    -moz-transition: ease .5s all;
    -ms-transition: ease .5s all;
    -o-transition: ease .5s all;
}

.datepicker table tr td,
.datepicker table tr th {
    transition: ease .5s all;
    -webkit-transition: ease .5s all;
    -moz-transition: ease .5s all;
    -ms-transition: ease .5s all;
    -o-transition: ease .5s all;
    animation: bounceIn 1s;
    -webkit-animation: bounceIn 1s;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
    background: #00ba88;
    color: #fff;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active:active {
    color: #fff;
    background-color: #00506b;
    border-color: #00506b;
}

.modal-backdrop.show {
    opacity: .5;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.modal-open .modal::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.modal::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
}

.modal-content {
    z-index: 1040;
}

.ladymen {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.ladymen input {
    display: none;
}

.ladymen label {
    display: flex;
    cursor: pointer;
    width: 35px;
    height: 35px;
    transition: ease all .3s;
    -webkit-transition: ease all .3s;
    -moz-transition: ease all .3s;
    -ms-transition: ease all .3s;
    -o-transition: ease all .3s;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .75);
    background: #fff;
}

.ladymen label:hover {
    background: #00be88;
    color: #fff;
}

.ladymen label span {
    position: relative;
    display: flex;
    max-width: 35px;
    vertical-align: top;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ladymen label span i {
    font-size: 24px;
}

.ladymen input:checked+label {
    background: #00be88;
    color: #fff;
    box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, .75);
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background: #9aa0ac;
    color: #fff;
    cursor: default;
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
    width: 100%;
}

.auth .auth_right img {
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    /* height: 789px; */
    vertical-align: top;
}

.carousel {
    overflow: hidden;
    z-index: 1000;
    position: relative;
}

.auth_right .carousel-inner>div {
    height: 789px;
    vertical-align: top;
    width: 100%;
    position: absolute;
    top: 0;
}

.auth_right .carousel-inner {
    position: relative;
    width: 100%;
}

.img-item-1 {
    background-image: url('/img/auth/black-doctor-9_1023x789.jpg');
    background-position: center;
    background-size: cover;
}

.img-item-2 {
    background-image: url('/img/auth/estetoscopio-doctor_1023x789.jpg');
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .auth .auth_right {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .auth .auth_right {
        width: 380px;
        display: block;
    }
}

@media screen and (max-width: 430px) {
    .auth .auth_right {
        display: none;
    }
    .auth .auth_left {
        width: 100%;
    }
}

.logo-login img {
    margin-top: 40px;
    max-width: 50%;
}

.bg-azuloscuro {
    background: #00506b;
}

.bg-verdePastel {
    background: #00ba88;
}

.bg-grisinus {
    background: #EEEBEB;
}

.btn-verdePastel {
    color: #fff;
    background: #00ba88;
}

.btn-azuloscuro {
    color: #fff;
    background: #00506b;
}

.btn-verdePastel:hover {
    color: #fff;
    background-color: #009e74;
    border-color: #009e74;
}

.btn-azuloscuro:hover {
    color: #fff;
    background-color: #023e52;
    border-color: #023e52;
}

.text-verdePastel {
    color: #00ba88;
}

.text-azuloscuro {
    color: #00506b;
}

.badge-verdePastel {
    background: #00ba88;
}

.badge-azuloscuro {
    background: #00506b;
}

.btn-outline-verdePastel {
    color: #00ba88!important;
    border-color: #00ba88;
}

.btn-outline-azuloscuro {
    color: #00506b;
    border-color: #00506b;
}

.bg-input-gris {
    background: #e3e3e3 !important;
}

.bg-input-gris:focus {
    border-color: #e3e3e3 !important;
    box-shadow: 0 0 0 0.2rem rgba(77, 80, 82, .25) !important;
}

.btn-outline-azuloscuro:not(:disabled):not(.disabled).active,
.btn-outline-azuloscuro:not(:disabled):not(.disabled):active,
.show>.btn-outline-azuloscuro.dropdown-toggle {
    color: #fff;
    background-color: #00506b;
    border-color: #00506b;
}

.btn-outline-verdePastel:not(:disabled):not(.disabled).active,
.btn-outline-verdePastel:not(:disabled):not(.disabled):active,
.show>.btn-outline-verdePastel.dropdown-toggle {
    color: #fff!important;
    background-color: #00ba88;
    border-color: #00ba88;
}

.btn-outline-azuloscuro:hover {
    color: #fff;
    background-color: #00506b;
    border-color: #00506b;
}

.btn-outline-verdePastel:hover {
    color: #fff!important;
    background-color: #00ba88;
    border-color: #00ba88;
}

.datepicker table tr td.highlighted.disabled,
.datepicker table tr td.highlighted.disabled:active {
    background: #e3e3e3;
    color: #777;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background: #e3e3e3;
    color: #777;
    cursor: default;
}


/* 
.datepicker table tr td {
    background: #00506b;
    color: #fff
} */

.assigment .card-header,
.assigment .card-body {
    padding: 10px;
}

.assigment .card-title {
    margin-bottom: 15px;
}

.wizard>.content>.body ul {
    list-style: none!important;
}

.doctor .card-body .position-absolute {
    width: 100%;
    right: 0px;
    z-index: 1;
}

.doctor .card-body .position-absolute ul {
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .50);
}

.assigmt ul[role="tablist"] {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 20px;
}

.assigment .card-body {
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
}

.disabled:hover .imagecheck-image {
    opacity: .64!important;
}